FORMAT: 1A
HOST: http://www.google.com

# Compass Open Platform Reference Data
This API provides the reference data required for Compass Open Platform.


# Group Currencies

## Currency List [/currencies]
### List all Currencys [GET]
+ Response 200 (application/json)


        { "items":[
            {
               "code": "USD", "description": "Dollar"
            }
            {
               "code": "EUR", "description": "Euro"
            }
            ]
        }

## Currency [/currencies/{code}]

+ Parameters
    + code (required, string, `USD`) ... Alphanumeric `code` of the Currency to perform action with.

### Retrieve a Currency [GET]
+ Response 200 (application/json)

    + Header

            X-My-Header: The Value

    + Body

            {"code": "USD", "description": "Dollar"  }


# Group Movement Types
Data related with the movement's types

## Movement Type List [/movementTypes]
### List all Movement Type [GET]
+ Response 200 (application/json)


        { "items":[
                {   "code": "deposit", "description": "Active" },
                {   "code": "withdrawal", "description": "Active" },
                {   "code": "transfer", "description": "Active" },
            ]
        }


## Movement Type [/movementType/{code}]
A single movement type object with all its details

+ Parameters
    + code (required, string, `deposit`) ... Alphanumeric `code` of the movement type
    to perform action with. Has example value.

### Retrieve a Movement Type [GET]
+ Response 200 (application/json)

    + Header

            X-My-Header: The Value

    + Body

             {   "code": "deposit", "description": "Active" }


# Group Countries
Data related with the address country

## Country List [/countries]
### List all Address Country [GET]
+ Response 200 (application/json)


        { "items":[
                {   "code": " AFG ", "description": "Afghanistan" },
                {   "code": " ALB ", "description": "Albania" },
                {   "code": " DZA ", "description": "Algeria" },
                {   "code": " ASM ", "description": "American Samoa" },
                {   "code": " AND ", "description": "Andorra" },
                {   "code": " AGO ", "description": "Angola" },
                {   "code": " AIA ", "description": "Anguilla" },
                {   "code": " ATA ", "description": "Antarctica" },
                {   "code": " ATG ", "description": "Antigua and Barbuda" },
                {   "code": " ARG ", "description": "Argentina" },
                {   "code": " ARM ", "description": "Armenia" },
                {   "code": " ABW ", "description": "Aruba" },
                {   "code": " AUS ", "description": "Australia" },
                {   "code": " AUT ", "description": "Austria" },
                {   "code": " AZE ", "description": "Azerbaijan" },
                {   "code": " BHS ", "description": "Bahamas" },
                {   "code": " BHR ", "description": "Bahrain" },
                {   "code": " BGD ", "description": "Bangladesh" },
                {   "code": " BRB ", "description": "Barbados" },
                {   "code": " BLR ", "description": "Belarus" },
                {   "code": " BEL ", "description": "Belgium" },
                {   "code": " BLZ ", "description": "Belize" },
                {   "code": " BEN ", "description": "Benin" },
                {   "code": " BMU ", "description": "Bermuda" },
                {   "code": " BTN ", "description": "Bhutan" },
                {   "code": " BOL ", "description": "Bolivia" },
                {   "code": " BIH ", "description": "Bosnia and Herzegovina" },
                {   "code": " BWA ", "description": "Botswana" },
                {   "code": " BRA ", "description": "Brazil" },
                {   "code": " IOT ", "description": "British Indian Ocean Territory" },
                {   "code": " VGB ", "description": "British Virgin Islands" },
                {   "code": " BRN ", "description": "Brunei" },
                {   "code": " BGR ", "description": "Bulgaria" },
                {   "code": " BFA ", "description": "Burkina Faso" },
                {   "code": " MMR ", "description": "Burma (Myanmar)" },
                {   "code": " BDI ", "description": "Burundi" },
                {   "code": " KHM ", "description": "Cambodia" },
                {   "code": " CMR ", "description": "Cameroon" },
                {   "code": " CAN ", "description": "Canada" },
                {   "code": " CPV ", "description": "Cape Verde" },
                {   "code": " CYM ", "description": "Cayman Islands" },
                {   "code": " CAF ", "description": "Central African Republic" },
                {   "code": " TCD ", "description": "Chad" },
                {   "code": " CHL ", "description": "Chile" },
                {   "code": " CHN ", "description": "China" },
                {   "code": " CXR ", "description": "Christmas Island" },
                {   "code": " CCK ", "description": "Cocos (Keeling) Islands" },
                {   "code": " COL ", "description": "Colombia" },
                {   "code": " COM ", "description": "Comoros" },
                {   "code": " COK ", "description": "Cook Islands" },
                {   "code": " CRC ", "description": "Costa Rica" },
                {   "code": " HRV ", "description": "Croatia" },
                {   "code": " CUB ", "description": "Cuba" },
                {   "code": " CYP ", "description": "Cyprus" },
                {   "code": " CZE ", "description": "Czech Republic" },
                {   "code": " COD ", "description": "Democratic Republic of the Congo" },
                {   "code": " DNK ", "description": "Denmark" },
                {   "code": " DJI ", "description": "Djibouti" },
                {   "code": " DMA ", "description": "Dominica" },
                {   "code": " DOM ", "description": "Dominican Republic" },
                {   "code": " ECU ", "description": "Ecuador" },
                {   "code": " EGY ", "description": "Egypt" },
                {   "code": " SLV ", "description": "El Salvador" },
                {   "code": " GNQ ", "description": "Equatorial Guinea" },
                {   "code": " ERI ", "description": "Eritrea" },
                {   "code": " EST ", "description": "Estonia" },
                {   "code": " ETH ", "description": "Ethiopia" },
                {   "code": " FLK ", "description": "Falkland Islands" },
                {   "code": " FRO ", "description": "Faroe Islands" },
                {   "code": " FJI ", "description": "Fiji" },
                {   "code": " FIN ", "description": "Finland" },
                {   "code": " FRA ", "description": "France" },
                {   "code": " PYF ", "description": "French Polynesia" },
                {   "code": " GAB ", "description": "Gabon" },
                {   "code": " GMB ", "description": "Gambia" },
                {   "code": " GEO ", "description": "Georgia" },
                {   "code": " DEU ", "description": "Germany" },
                {   "code": " GHA ", "description": "Ghana" },
                {   "code": " GIB ", "description": "Gibraltar" },
                {   "code": " GRC ", "description": "Greece" },
                {   "code": " GRL ", "description": "Greenland" },
                {   "code": " GRD ", "description": "Grenada" },
                {   "code": " GUM ", "description": "Guam" },
                {   "code": " GTM ", "description": "Guatemala" },
                {   "code": " GIN ", "description": "Guinea" },
                {   "code": " GNB ", "description": "Guinea-Bissau" },
                {   "code": " GUY ", "description": "Guyana" },
                {   "code": " HTI ", "description": "Haiti" },
                {   "code": " VAT ", "description": "Holy See (Vatican City)" },
                {   "code": " HND ", "description": "Honduras" },
                {   "code": " HKG ", "description": "Hong Kong" },
                {   "code": " HUN ", "description": "Hungary" },
                {   "code": " IS ", "description": "Iceland" },
                {   "code": " IND ", "description": "India" },
                {   "code": " IDN ", "description": "Indonesia" },
                {   "code": " IRN ", "description": "Iran" },
                {   "code": " IRQ ", "description": "Iraq" },
                {   "code": " IRL ", "description": "Ireland" },
                {   "code": " IMN ", "description": "Isle of Man" },
                {   "code": " ISR ", "description": "Israel" },
                {   "code": " ITA ", "description": "Italy" },
                {   "code": " CIV ", "description": "Ivory Coast" },
                {   "code": " JAM ", "description": "Jamaica" },
                {   "code": " JPN ", "description": "Japan" },
                {   "code": " JEY ", "description": "Jersey" },
                {   "code": " JOR ", "description": "Jordan" },
                {   "code": " KAZ ", "description": "Kazakhstan" },
                {   "code": " KEN ", "description": "Kenya" },
                {   "code": " KIR ", "description": "Kiribati" },
                {   "code": " KWT ", "description": "Kuwait" },
                {   "code": " KGZ ", "description": "Kyrgyzstan" },
                {   "code": " LAO ", "description": "Laos" },
                {   "code": " LVA ", "description": "Latvia" },
                {   "code": " LBN ", "description": "Lebanon" },
                {   "code": " LSO ", "description": "Lesotho" },
                {   "code": " LBR ", "description": "Liberia" },
                {   "code": " LBY ", "description": "Libya" },
                {   "code": " LIE ", "description": "Liechtenstein" },
                {   "code": " LTU ", "description": "Lithuania" },
                {   "code": " LUX ", "description": "Luxembourg" },
                {   "code": " MAC ", "description": "Macau" },
                {   "code": " MKD ", "description": "Macedonia" },
                {   "code": " MDG ", "description": "Madagascar" },
                {   "code": " MWI ", "description": "Malawi" },
                {   "code": " MYS ", "description": "Malaysia" },
                {   "code": " MDV ", "description": "Maldives" },
                {   "code": " MLI ", "description": "Mali" },
                {   "code": " MLT ", "description": "Malta" },
                {   "code": " MHL ", "description": "Marshall Islands" },
                {   "code": " MRT ", "description": "Mauritania" },
                {   "code": " MUS ", "description": "Mauritius" },
                {   "code": " MYT ", "description": "Mayotte" },
                {   "code": " MEX ", "description": "Mexico" },
                {   "code": " FSM ", "description": "Micronesia" },
                {   "code": " MDA ", "description": "Moldova" },
                {   "code": " MCO ", "description": "Monaco" },
                {   "code": " MNG ", "description": "Mongolia" },
                {   "code": " MNE ", "description": "Montenegro" },
                {   "code": " MSR ", "description": "Montserrat" },
                {   "code": " MAR ", "description": "Morocco" },
                {   "code": " MOZ ", "description": "Mozambique" },
                {   "code": " NAM ", "description": "Namibia" },
                {   "code": " NRU ", "description": "Nauru" },
                {   "code": " NPL ", "description": "Nepal" },
                {   "code": " NLD ", "description": "Netherlands" },
                {   "code": " ANT ", "description": "Netherlands Antilles" },
                {   "code": " NCL ", "description": "New Caledonia" },
                {   "code": " NZL ", "description": "New Zealand" },
                {   "code": " NIC ", "description": "Nicaragua" },
                {   "code": " NER ", "description": "Niger" },
                {   "code": " NGA ", "description": "Nigeria" },
                {   "code": " NIU ", "description": "Niue" },
                {   "code": " NFK ", "description": "Norfolk Island" },
                {   "code": " PRK ", "description": "North Korea" },
                {   "code": " MNP ", "description": "Northern Mariana Islands" },
                {   "code": " NOR ", "description": "Norway" },
                {   "code": " OMN ", "description": "Oman" },
                {   "code": " PAK ", "description": "Pakistan" },
                {   "code": " PLW ", "description": "Palau" },
                {   "code": " PAN ", "description": "Panama" },
                {   "code": " PNG ", "description": "Papua New Guinea" },
                {   "code": " PRY ", "description": "Paraguay" },
                {   "code": " PER ", "description": "Peru" },
                {   "code": " PHL ", "description": "Philippines" },
                {   "code": " PCN ", "description": "Pitcairn Islands" },
                {   "code": " POL ", "description": "Poland" },
                {   "code": " PRT ", "description": "Portugal" },
                {   "code": " PRI ", "description": "Puerto Rico" },
                {   "code": " QAT ", "description": "Qatar" },
                {   "code": " COG ", "description": "Republic of the Congo" },
                {   "code": " ROU ", "description": "Romania" },
                {   "code": " RUS ", "description": "Russia" },
                {   "code": " RWA ", "description": "Rwanda" },
                {   "code": " BLM ", "description": "Saint Barthelemy" },
                {   "code": " SHN ", "description": "Saint Helena" },
                {   "code": " KNA ", "description": "Saint Kitts and Nevis" },
                {   "code": " LCA ", "description": "Saint Lucia" },
                {   "code": " MAF ", "description": "Saint Martin" },
                {   "code": " SPM ", "description": "Saint Pierre and Miquelon" },
                {   "code": " VCT ", "description": "Saint Vincent and the Grenadines" },
                {   "code": " WSM ", "description": "Samoa" },
                {   "code": " SMR ", "description": "San Marino" },
                {   "code": " STP ", "description": "Sao Tome and Principe" },
                {   "code": " SAU ", "description": "Saudi Arabia" },
                {   "code": " SEN ", "description": "Senegal" },
                {   "code": " SRB ", "description": "Serbia" },
                {   "code": " SYC ", "description": "Seychelles" },
                {   "code": " SLE ", "description": "Sierra Leone" },
                {   "code": " SGP ", "description": "Singapore" },
                {   "code": " SVK ", "description": "Slovakia" },
                {   "code": " SVN ", "description": "Slovenia" },
                {   "code": " SLB ", "description": "Solomon Islands" },
                {   "code": " SOM ", "description": "Somalia" },
                {   "code": " ZAF ", "description": "South Africa" },
                {   "code": " KOR ", "description": "South Korea" },
                {   "code": " ESP ", "description": "Spain" },
                {   "code": " LKA ", "description": "Sri Lanka" },
                {   "code": " SDN ", "description": "Sudan" },
                {   "code": " SUR ", "description": "Suriname" },
                {   "code": " SJM ", "description": "Svalbard" },
                {   "code": " SWZ ", "description": "Swaziland" },
                {   "code": " SWE ", "description": "Sweden" },
                {   "code": " CHE ", "description": "Switzerland" },
                {   "code": " SYR ", "description": "Syria" },
                {   "code": " TWN ", "description": "Taiwan" },
                {   "code": " TJK ", "description": "Tajikistan" },
                {   "code": " TZA ", "description": "Tanzania" },
                {   "code": " THA ", "description": "Thailand" },
                {   "code": " TLS ", "description": "Timor-Leste" },
                {   "code": " TGO ", "description": "Togo" },
                {   "code": " TKL ", "description": "Tokelau" },
                {   "code": " TON ", "description": "Tonga" },
                {   "code": " TTO ", "description": "Trinidad and Tobago" },
                {   "code": " TUN ", "description": "Tunisia" },
                {   "code": " TUR ", "description": "Turkey" },
                {   "code": " TKM ", "description": "Turkmenistan" },
                {   "code": " TCA ", "description": "Turks and Caicos Islands" },
                {   "code": " TUV ", "description": "Tuvalu" },
                {   "code": " UGA ", "description": "Uganda" },
                {   "code": " UKR ", "description": "Ukraine" },
                {   "code": " ARE ", "description": "United Arab Emirates" },
                {   "code": " GBR ", "description": "United Kingdom" },
                {   "code": " USA ", "description": "United States" },
                {   "code": " URY ", "description": "Uruguay" },
                {   "code": " VIR ", "description": "US Virgin Islands" },
                {   "code": " UZB ", "description": "Uzbekistan" },
                {   "code": " VUT ", "description": "Vanuatu" },
                {   "code": " VEN ", "description": "Venezuela" },
                {   "code": " VNM ", "description": "Vietnam" },
                {   "code": " WLF ", "description": "Wallis and Futuna" },
                {   "code": " ESH ", "description": "Western Sahara" },
                {   "code": " YEM ", "description": "Yemen" },
                {   "code": " ZMB ", "description": "Zambia" },
                {   "code": " ZWE ", "description": "Zimbabwe" }
            ]
        }


## Countries [/countries/{code}]
A single address type object with all its details

+ Parameters
    + code (required, alphanumeric, `ESP`) ... Alphanumeric `code` of the address country
    to perform action with. Has example value.

### Retrieve a Address Country [GET]
+ Response 200 (application/json)

    + Header

            X-My-Header: The Value

    + Body

             {   "code": "ESP", "description": "Spain" }



# Group Error Codes - To Be Reviewed
Error codes catalog

     HttpError  | Code                            | Description
    :-----------|:--------------------------------|:------------------
     403        | SecurityOtpRequired             | OTP is required
     403        | SecurityPasswordRequired        | Password is required
     403        | SecurityExpiredOTP              | Expired OTP
     403        | SecurityWrongOTP                | Wrong OTP. Be carefull the user can be blocked
     403        | SecurityUserBlocked             | The user has been blocked
     403        | SecurityWrongPassword           | Wrong Password. Be carefull the user can be blocked
     403        | SecurityWrongCredentials        | Wrong Client Credentials
     403        | SecurityWrongUser               | Wrong User
     403        | SecurityUserNotAllowed          | The current user can't access this resource
     401        | SecurityAccessDenied            | Full authentication is required to access this resource









